*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{

    height: 15vh;
    //background-color: #f3f5f8;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid grey;

    h1{
        color: #1f2937;
        font-family: 'inter', sans-serif;
    }
}

.caixalogo{
    width: 50%;
    display: flex;
    color: #1f2937;
   }

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    font-size: 15px;
    font-family: 'inter', sans-serif;
    font-weight: 400;

    a{
        color: #4b5563;
        text-decoration: none;
        
    }

    .btn-comecar {
        background-color: #16a34a;
        color: white;
        padding: 13px 20px;
        border-radius: 5px;
        transition: 0.2s; }

     }   

.primeirasection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0vh;
    height: 80vh;
    display: flex;
    
    .conteudo-texto{
      margin-left: 5vh;    
      width: 60vw;
                

        h2{
            font-size: 75px;
            font-family: 'inter', sans-serif;
            color: #1f2937;          
        }

        p{
            margin-top: 35px;
            font-size: 27px;
            font-family: 'inter', sans-serif;
            color: #4b5563;
        }

        .boxBtnPrimeirasection{
            display: flex;
            gap: 20px;
            margin-top: 35px;
        }

        .btnverde{
            background-color:#16a34a;
            color: #f0fdf4;
            padding: 15px 30px;
            border: none;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'inter', sans-serif;
            cursor: pointer;
            gap: 10px;
            font-weight: 300;   
        }

        .btnBranco{
            background-color: white;
            color: #2563eb;
            padding: 15px 30px;
            border: 1px solid #2563eb;
            border-radius: 6px;
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: 400;
            font-family: 'inter', sans-serif;
            cursor: pointer;

        }
        
    }
}
.logogrande{
    display: flex;
    width: 450px;
    height: auto;
}

.dadosnumericos{
    display: flex;
    justify-content: space-evenly;
    background-color: #f3f5f8;
    height: 184px;
    align-items: center;
    text-align: center;

div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    font-size: 45px;
    color: #16a34a;
    font-family: 'inter', sans-serif;
}

p{
    color: #4b5563;
    font-family: 'inter', sans-serif;
}

}

//-----section Produtos disponíveis-----------

    .produtosDisponíveis{
        background-color: #f3f5f8;
        flex-direction: column-reverse;
        
        .titulocards{
            h2{
            margin-left: 7%;
            font-size: 40px;
            color: #1f2937;
            font-family: 'inter', sans-serif;
        }
       
        p{
            font-size: 25px;
            color:#4b5563;
            font-family: 'inter', sans-serif;
            text-align: left;
            margin-left: 7%;
            margin-top: 2%;
        }


        }
        
    
    .produtos{ 
        background-color: #f3f5f8;
        height: 85vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
        
        article{
            border: 2px solid #16a34a;
            border-radius: 8px;
            width: 20%;
            height: 60vh;
            display: flex;
            flex-direction: row;  //padrão. Os itens são organizados em forma de linha da esquerda para direita.
             // flex-direction: row-reverse; //os itens são organizados em forma de linha da direita para esquerda.
            flex-direction: column; //os itens são organizados em coluna de cima para baixo.
             //flex-direction: column-reverse; //os itens são organizados em coluna de baixo para cima.
             //justify-content: center;
             //justify-content: space-evenly;
             //justify-content: space-around;
            justify-content: space-between;
            align-items:center; 
             //align-items: flex-start;
             //align-items: flex-end;


        img{
                width: 100%;
                height: 30vh;
                border-radius: 8px;
            }

        button{
        padding: 10px 25px;
        cursor: pointer;
        color: white;
        background-color: #16a34a;
        border: none;
        border-radius: 10px; //o botão fica arredondado
        font-size: 0.8rem;
        margin-bottom: 30px;

         }    


        }

        h3{
            font-family: 'inter', sans-serif;
            color:#1f2937;
            font-size: 20px;
            font-weight: 400; 
        }

        p{
            font-family: 'inter', sans-serif;
            color:#4b5563;
            font-size: 16px;
            font-weight: 400;
            text-align: center;
            margin-left: 7px;
            margin-right: 7px;
        }
    }


    //responsivo

    //smartphone mx: 500px

    @media(max-width: 500px){
       
        header{
            display: flex;
            flex-direction: column;
            height: 20vh;
        }
        ;caixalogo{
            border: solid
            width: 70%
        }

        nav{
            border:solid
            width: 100%
            a{
                font-size: 0.8rem;
            
            }

            .btnverdeheader{
                font-size: 0.8rem;
            }
        
        }

    }

        //------primeira section------

        .primeirasection{
            background-color: violet;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 80vh;

        section{

        height: 80vh;

            h2{
                font-size: 1.5rem;
                width: 100%;
            }

            p{
                width: 100%;
            }

        }

        .boxBtnsPrimeirasection{
            width: 100%;

            button{
                padding: 20px; 30px;
            }
        }

        img{
            width: 50%;
        }

        }



        //section produtos disponíveis

        .produtosDisponíveis{
            display: flex; //não teria necessidade de usar. Ele já foi ativado na inha 87
            flex-direction: column;
            background-color: pink;  
            justify-content: space-around;  

             article{
            width: 60%;

            button{
                font-size: 1rem;
                width: 70%f;
                font-weight: 400;
            }
        }

        }
