*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #dad621;
    display: flex; //ativa as caixas flexíveis
    justify-content: flex-start; //é o padrão. Os itens são postos no começo do eixo principal.
    justify-content: flex-end; //Os itens são postos no final do eixo principal.
    justify-content: center; //os itens são alinhados no meio do eixo principal.
    justify-content: space-around; //O primeiro espaço vazio e o último são iguais.
   // justify-content: space-evenly; //entre todos os itens haverá o mesmo espaçamento.
    //justify-content: space-between; //O primeiro item fica no começo do eixo e o ultimo fica no final do eixo.
    height: 15vh;
    align-items: flex-start; //Padrão, os itens são postos no comço do eixo Y (vertical)
    align-items: flex-end; // os itens são postos no final do eixo Y (vertical)
    align-items: center; //os itens são postos no meio do eixo Y (vertical).

    }

    div{
    border: solid;
    display: flex;
    justify-content: space-between;
    width: 15%;
    align-items: center;
}

    h1{
        border: solid red;
    }

    nav{
        border: solid rgb(61, 185, 61);
        display: flex;
        justify-content: space-evenly;
        width: 40%;
    }

    a{
        text-decoration: nome;
        font-size: 1.5rem;
        color: red;
    }

    .primeirasection{
        background-color: yellow;
        height: 50vh;

        section{
            border: solid;
            width: 50%;
            height: 50vh;
            justify-content: space-around;

        }
    }

    .produtosDisponíveis{
        background-color: aquamarine;
        height: 85vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        article{
            border: solid red;
            width: 20%;
            height: 70vh;
            display: flex;
            flex-direction: row;  //padrão. Os itens são organizados em forma de linha da esquerda para direita.
           // flex-direction: row-reverse; //os itens são organizados em forma de linha da direita para esquerda.
flex-direction: column; //os itens são organizados em coluna de cima para baixo.

//flex-direction: column-reverse; //os itens são organizados em coluna de baixo para cima.

//justify-content: center;
//justify-content: space-evenly;
//justify-content: space-around;
justify-content: space-between;

align-items:center; 
//align-items: flex-start;
//align-items: flex-end;




            img{
                width: 100%;
                height: 30vh;
                border: solid;
            }

    button{
        width: 45%;
        height: 5vh;
        cursor: pointer;
        color: rgb(30, 179, 159);
        background-color: rgb(80, 82, 74);
        font-weight: 900; //negrito
        border-radius: 10px; //o botão fica arredondado
        font-size: 0.8rem;
    }        


        }
    }